language: android

jdk:
  - oraclejdk8

android:
  components:
    - platform-tools
    - tools

    # The BuildTools version used by your project
    - build-tools-25.0.0

    # The SDK version used to compile your project
    - android-25

    # Additional components
    - extra-android-m2repository

before_script:
    - chmod +x gradlew

script: "./gradlew build"